# Django and core dependencies
Django>=4.2,<5.1
gunicorn

# Environment & Configuration
django-environ
python-decouple

# Database and utility packages
sqlparse

# Optional (good to have)
tzdata
whitenoise

# (If you use Pillow for images)
Pillow
